importFrom(tools, package_dependencies)
importFrom(utils, installed.packages)
importFrom(utils, old.packages)
importFrom(utils, setRepositories)
importFrom(utils, update.packages)

# Token imports
import(statnet.common,ergm.count)
importFrom(ergm, ergm)
importFrom(network, network)
importFrom(networkDynamic, networkDynamic)
importFrom(tergm, stergm)
importFrom(sna, netlm)
importFrom(tsna, forward.reachable)

export(update_statnet)
